# SQL Practice Problems: 57 beginning, intermediate, and advanced challenges for you to solve using a “learn-by-doing” approach

- This notebook contains my solution for SQL practice problems from [SPP 57 book](https://www.amazon.com/SQL-Practice-Problems-learn-doing-ebook/dp/B01N41VQFO)

# Connecting to MS SQL DB

In [1]:
import pyodbc
import pandas as pd
import os

In [2]:
class db_connection:
    def __new__(self):
        if not hasattr(self,'instance'):
            self.instance = super(db_connection, self).__new__(self)
            self.conn = pyodbc.connect('Driver={SQL Server};'
                      f'Server={os.environ["MSSQL_SERVER"]};'
                      'Database=Northwind_SPP;'
                      'Trusted_Connection=yes;')
        return self.instance
    
    def get_conn(self):
        return self.conn

## Execute query using cursor object

In [3]:
connection = db_connection()
conn = connection.get_conn()
cursor = conn.cursor()
cursor.execute("""
    SELECT * FROM shippers
""")

for row in cursor:
    print(row)

(1, 'Speedy Express', '(503) 555-9831')
(2, 'United Package', '(503) 555-3199')
(3, 'Federal Shipping', '(503) 555-9931')

## Execute query using pd.read_sql_query()

In [4]:
sql_query = pd.read_sql_query('SELECT * FROM shippers', conn)
print(sql_query)
print(type(sql_query))

   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931
<class 'pandas.core.frame.DataFrame'>

- Query result in pandas dataframe looks better, so I'm going to use this approach to execute query and validate result
- Let's make a helper function to execute sql query and print result in pandas data frame

In [5]:
def sql(query : str)->None:
    """
    Take query as an argument, execute it and print the query result
    
    Arguments:
    query -> string type. Query to execute
    """
    result = pd.read_sql_query(query, db_connection().get_conn())
    print(result)

In [6]:
sql("""SELECT * FROM shippers""")

   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

# DB Diagram for Practice Database
![ERD](ERD.PNG)

# Introductory Problems
## 1. Which shippers do we have?

In [7]:
sql("""
    SELECT * FROM shippers
""")

   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

## 2. Certain fields from categories

In [8]:
sql("""
    SELECT CategoryName, Description FROM Categories
""")

     CategoryName                                        Description
0       Beverages        Soft drinks, coffees, teas, beers, and ales
1      Condiments  Sweet and savory sauces, relishes, spreads, an...
2     Confections                Desserts, candies, and sweet breads
3  Dairy Products                                            Cheeses
4  Grains/Cereals                Breads, crackers, pasta, and cereal
5    Meat/Poultry                                     Prepared meats
6         Produce                          Dried fruit and bean curd
7         Seafood                                   Seaweed and fish

## 3. Sales Representatives

In [9]:
sql("""
    SELECT FirstName, LastName, HireDate FROM Employees
    WHERE Title = 'Sales Representative'
""")

  FirstName   LastName   HireDate
0     Nancy    Davolio 2010-05-01
1     Janet  Leverling 2010-04-01
2  Margaret    Peacock 2011-05-03
3   Michael     Suyama 2011-10-17
4    Robert       King 2012-01-02
5      Anne  Dodsworth 2012-11-15

## 4. Sales Representatives in the United States